@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  height: 5000px;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background-color: rgba(126, 131, 131, 0.795);
  background-image: url(ant2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.a a {
  font-size: 40px !important;
  color: #FFF;
  font-weight: bold;
}
.a a:hover {
  color: #ffc107;
}
.a a span {
  font-size: 40px !important;
}

.text-warning {
  font-size: 20px !important;
}

.nav-link {
  color: rgb(243, 243, 243);
  font-size: 20px;
}

.navbar-nav {
  color: rgb(102, 100, 100) !important;
  --bs-nav-link-hover-color:#ffc107;
}

.headerText h4 {
  font-size: 30px;
}
.headerText h1 {
  font-size: 60px;
  font-weight: bold;
}
.headerText p {
  font-size: 20px;
}

.btn {
  font-size: 20px !important;
}

.scrolldown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  color: #FFF;
  font-size: 40px;
}
.scrolldown:hover {
  color: rgb(247, 163, 8);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.promo {
  margin-top: 50px;
}
.promo .col-4 {
  width: 25%;
}
.promo .col-4 .promocard img {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.promo .col-4 .promocard h3 {
  font-size: 35px;
  color: rgb(78, 76, 76);
}
.promo .col-4 .promocard p {
  font-size: 20px;
  margin-top: 30px;
  color: rgb(110, 106, 106);
}

.our-work {
  background-color: #f3f4f8;
}
.our-work h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgb(78, 76, 76);
}
.our-work p {
  font-size: 20px;
  color: rgb(110, 106, 106);
}

.dash {
  width: 50px;
  height: 5px;
  background-color: #ffc107;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.col-4-2 {
  width: 25%;
  padding-bottom: 30px;
}
.col-4-2 .servcard h1 {
  font-size: 40px;
  color: #919296;
  font-weight: bold;
}
.col-4-2 .servcard h1::first-letter {
  font-size: 90px;
}
.col-4-2 .servcard p {
  color: #b8b9bd;
  font-size: 20px;
}
.col-4-2 .btn-primary {
  --bs-btn-color: #ffc107;
  --bs-btn-hover-color: #ffc107
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffffff00;
  --bs-btn-border-color: #ffffff00;
  --bs-btn-hover-color: #ffc107;
  --bs-btn-hover-bg: #919296;
  --bs-btn-hover-border-color: #fdfeff;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
}

.example h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgb(78, 76, 76);
}
.example p {
  font-size: 20px;
  color: rgb(110, 106, 106);
}

.row-cols-1 .col img {
  height: 250px;
  background-position: center;
  transition: 1.5s;
  border-radius: 0px;
}
.row-cols-1 .col img:hover {
  transform: scale(1.3);
  z-index: 1;
}

.sliders .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.sliders .carousel-indicators .active {
  opacity: 1;
  background-color: black;
}
.sliders .carousel-inner {
  background-image: url(https://images.wallpaperscraft.com/image/single/night_city_buildings_lights_178307_3840x2160.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #313a4b;
  background-blend-mode: darken;
}

.carousel-item {
  height: 750px;
  padding-top: 200px;
}
.carousel-item img {
  width: 80px;
  height: 80px;
  margin: auto;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
}

.carousel-text h4 {
  color: white;
  margin-bottom: 40px;
  font-size: 30px;
}
.carousel-text p {
  color: white;
  font-size: 25px;
}

.latest .text-center h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgb(78, 76, 76);
}
.latest .text-center p {
  font-size: 20px;
  color: rgb(110, 106, 106);
}
.latest .card {
  border: none !important;
}
.latest .card h1 {
  font-size: 35px;
  color: #717173;
  font-weight: 0;
}
.latest .card p {
  font-size: 20px;
  color: #717173;
}
.latest .card p i {
  padding-left: 20px;
}
.latest .btn-primary {
  --bs-btn-color: #717173 !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #d3181800;
  --bs-btn-hover-color: #717173!important;
  --bs-btn-hover-bg: #91929600;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  border: none !important;
}
.latest .btn-primary i {
  margin-left: 10px;
}

.contact {
  background-color: #495468;
}
.contact .text-center h1 {
  font-size: 45px;
  font-weight: 0;
  color: rgb(255, 255, 255);
}
.contact .text-center p {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.contact .dis {
  display: flex;
  flex-wrap: wrap;
}
.contact .location .adam {
  display: block;
  padding-left: 20px;
}
.contact .contact-means {
  width: 50%;
  padding: 50px;
}
.contact .contact-means i {
  font-size: 30px;
  color: #ffc107;
  padding: 10px;
}
.contact .contact-means a {
  color: white;
  padding: 10px;
}
.contact .for {
  width: 50%;
}
.contact .row {
  margin-right: calc(0 * var(--bs-gutter-x));
}
.contact .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #495468;
  background-clip: padding-box;
  border: 1px solid #ffc107;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact button, .contact input, .contact optgroup, .contact select, .contact textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 20px !important;
}
.contact .subject {
  width: 100% !important;
}
.contact .textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
  width: 100% !important;
}
.contact .btn-primary {
  --bs-btn-color:#ffc107;
  --bs-btn-bg: #495468;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:#ffc107;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  border: 1px solid #ffc107;
  border-radius: 20px;
}

footer {
  padding: 10px;
}
footer p {
  font-size: 20px;
}
footer a {
  color: #ffc107;
}
footer a:hover {
  color: black;
}

@media only screen and (max-width: 1030px) and (min-width: 780px) {
  .promo {
    margin-top: 50px;
  }
  .promo .col-4 {
    width: 50%;
  }
  .promo .col-4 .promocard {
    padding: 10px;
  }
  .promo .col-4 .promocard img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .promo .col-4 .promocard h3 {
    font-size: 35px;
    color: rgb(78, 76, 76);
  }
  .promo .col-4 .promocard p {
    font-size: 20px;
    margin-top: 30px;
    color: rgb(110, 106, 106);
  }

  .our-work {
    background-color: #f3f4f8;
  }
  .our-work h1 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(78, 76, 76);
  }
  .our-work p {
    font-size: 20px;
    color: rgb(110, 106, 106);
  }

  .col-4-2 {
    width: 50%;
    padding-bottom: 30px;
  }
  .col-4-2 .servcard h1 {
    font-size: 40px;
    color: #919296;
    font-weight: bold;
  }
  .col-4-2 .servcard h1::first-letter {
    font-size: 90px;
  }
  .col-4-2 .servcard p {
    color: #b8b9bd;
    font-size: 20px;
  }
}
@media (max-width: 780px) and (min-width: 420px) {
  .promo {
    margin-top: 50px;
  }
  .promo .col-4 {
    width: 100%;
  }
  .promo .col-4 .promocard {
    padding: 10px;
  }
  .promo .col-4 .promocard img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .promo .col-4 .promocard h3 {
    font-size: 35px;
    color: rgb(78, 76, 76);
  }
  .promo .col-4 .promocard p {
    font-size: 20px;
    margin-top: 30px;
    color: rgb(110, 106, 106);
  }

  .our-work {
    background-color: #f3f4f8;
  }
  .our-work h1 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(78, 76, 76);
    text-align: center;
  }
  .our-work p {
    font-size: 20px;
    color: rgb(110, 106, 106);
  }

  .col-4-2 {
    width: 100%;
    padding-bottom: 30px;
  }
  .col-4-2 .servcard h1 {
    font-size: 40px;
    color: #919296;
    font-weight: bold;
  }
  .col-4-2 .servcard h1::first-letter {
    font-size: 90px;
  }
  .col-4-2 .servcard p {
    color: #b8b9bd;
    font-size: 20px;
  }

  .contact {
    background-color: #495468;
  }
  .contact .text-center h1 {
    font-size: 45px;
    font-weight: 0;
    color: rgb(255, 255, 255);
  }
  .contact .text-center p {
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  .contact .dis {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .location .adam {
    display: block;
    padding-left: 20px;
  }
  .contact .contact-means {
    width: 100%;
    padding: 50px;
  }
  .contact .contact-means i {
    font-size: 30px;
    color: #ffc107;
    padding: 10px;
  }
  .contact .contact-means a {
    color: white;
    padding: 10px;
  }
  .contact .for {
    width: 100%;
  }
  .contact .row {
    margin-right: calc(0 * var(--bs-gutter-x));
  }
  .contact .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #495468;
    background-clip: padding-box;
    border: 1px solid #ffc107;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .contact button, .contact input, .contact optgroup, .contact select, .contact textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 20px !important;
  }
  .contact .subject {
    width: 100% !important;
  }
  .contact .textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 100% !important;
  }
  .contact .btn-primary {
    --bs-btn-color:#ffc107;
    --bs-btn-bg: #495468;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#ffc107;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    border: 1px solid #ffc107;
    border-radius: 20px;
  }
}
@media (max-width: 420px) {
  .promo {
    margin-top: 50px;
  }
  .promo .col-4 {
    width: 100%;
  }
  .promo .col-4 .promocard {
    padding: 10px;
  }
  .promo .col-4 .promocard img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .promo .col-4 .promocard h3 {
    font-size: 35px;
    color: rgb(78, 76, 76);
  }
  .promo .col-4 .promocard p {
    font-size: 20px;
    margin-top: 30px;
    color: rgb(110, 106, 106);
  }

  .our-work {
    background-color: #f3f4f8;
  }
  .our-work h1 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(78, 76, 76);
    text-align: center;
  }
  .our-work p {
    font-size: 20px;
    color: rgb(110, 106, 106);
  }

  .col-4-2 {
    width: 100%;
    padding-bottom: 30px;
  }
  .col-4-2 .servcard h1 {
    font-size: 40px;
    color: #919296;
    font-weight: bold;
  }
  .col-4-2 .servcard h1::first-letter {
    font-size: 90px;
  }
  .col-4-2 .servcard p {
    color: #b8b9bd;
    font-size: 20px;
  }

  .contact {
    background-color: #495468;
  }
  .contact .text-center h1 {
    font-size: 45px;
    font-weight: 0;
    color: rgb(255, 255, 255);
  }
  .contact .text-center p {
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  .contact .dis {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .location .adam {
    display: block;
    padding-left: 20px;
  }
  .contact .contact-means {
    width: 100%;
    padding: 50px;
  }
  .contact .contact-means i {
    font-size: 30px;
    color: #ffc107;
    padding: 10px;
  }
  .contact .contact-means a {
    color: white;
    padding: 10px;
  }
  .contact .for {
    width: 100%;
  }
  .contact .row {
    margin-right: calc(0 * var(--bs-gutter-x));
  }
  .contact .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #495468;
    background-clip: padding-box;
    border: 1px solid #ffc107;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .contact button, .contact input, .contact optgroup, .contact select, .contact textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 20px !important;
  }
  .contact .subject {
    width: 100% !important;
  }
  .contact .textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 100% !important;
  }
  .contact .btn-primary {
    --bs-btn-color:#ffc107;
    --bs-btn-bg: #495468;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#ffc107;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    border: 1px solid #ffc107;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
